<p>pregunta-02</p>
<mat-card>
    <mat-card-header>
      <mat-card-title>Calculando 20%</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <div class="form">
            <mat-form-field>
                <mat-label>Ingrese monto</mat-label>
                <input matInput type="number" #txtmonto>
              </mat-form-field>
    
        </div>

        <div class="form">
            <mat-form-field>
                <mat-label>Ingrese cantidad</mat-label>
                <input matInput type="number" #txtcantidad >
              </mat-form-field>
    
        </div>


    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="calcular()" >Cacular</button>
    </mat-card-actions>
  </mat-card>
